<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Ninja | <%= title %>
    </title>
</head>

<body>
    <nav>
        <div>
            <a href="/">
                <h1>Blog Ninja</h1>
            </a>
            <p>A net Ninja site</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">Blogs</a></li>
            <li><a href="/create">Blogs</a></li>
        </ul>
    </nav>
    <div class="about-content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni beatae cum nam quo dolorum minima quibusdam
            officia! Inventore delectus omnis sit voluptatibus eaque, provident, quibusdam quas saepe amet consequatur
            non.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto nobis voluptate ut eveniet mollitia non, enim
            accusamus consequuntur incidunt cumque?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum dignissimos cumque repellat optio at natus
            quos nesciunt quod voluptate doloribus.</p>
    </div>
</body>

</html>